body {
  color: #7c8d87;
  background: #f8f8f8;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h1 {
  text-transform: uppercase;
}
#information {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  text-align: left;
}
.item span {
  display: inline-block;
  margin: 0.2rem 0;
  padding: 0.5rem;
  background: #ffffff;
}
.item span:first-of-type {
  background: #468966;
  color: #ffffff;
}

button, #hahaCLickMe {
  width: 100%;
  font-size: 2em;
  color: pink;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid pink;
  text-decoration: none;
}
button:hover, #hahaCLickMe:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}
